POSTGRES_PASSWORD=replace-with-a-long-random-password
HAHA_JWT_SECRET=replace-with-at-least-32-random-characters
HAHA_JWT_ISSUER=haha-auth
HAHA_JWT_AUDIENCE=haha-api
PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
NPM_REGISTRY=https://registry.npmmirror.com
